.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  overflow-y: auto;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 5;
  margin: 0;
  height: 50vh;
}
