<section class="content">
  <ul class="mr-20 matches styled" data-test-id="survey-list">
    <li class="slide-up-fade-in survey-details layout-row">
      <span><b>TITLE</b></span>
      <span><b>CATEGORY</b></span>
      <span><b>STATUS</b></span>
      <span><b>LABEL</b></span>
    </li>
    <ng-container *ngFor="let survey of surveyListSignal()">
      <li class="survey-details layout-row slide-up-fade-in">
        <!--       Use below to render list item for each survey object-->
        <span>{{ survey.title }}</span>
        <span>{{ survey.category }}</span>
        <span>{{ survey.status }}</span>
        <span>{{ survey.label }}</span>
      </li>
    </ng-container>
  </ul>
</section>
